body{
    background-color: white;
    color: black;
    background-image: url("../img/Exemplo_HUD.webp");
}
.titulo{
    position: absolute;
    left: 35%;
}

.artifacts{
    background-color: transparent;
}

.select {
    width: fit-content;
}

.tabelaRegistros {
    width: fit-content;
    height: fit-content;
    padding: 3px;
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
}
.position-artifact{
    position: absolute;
    left : 7.5%;
    top: 7.5%;
    background-color: transparent;
}
.position-dre{
    position: absolute;
    left : 7.5%;
    top: 25%;
    background-color: transparent;
    
}
.adicionar{
    text-align: end;
    align-content: flex-end;
}
.position-avaliar{
    position: absolute;
    left : 80%;
    top: 85%;
}
.positio-tabela{
    position: absolute;
    left: 20%;
    top: 40%;
    border: double;
}
.final{
    position: absolute;
    top: 85%;
    left: 25%;
    background-color: white;
    border-color: gold;
    border: double;
}

