body{
    background-color: black;
    color: gold;
}

.artifacts{
    background-color: aqua;
}

.select {
    width: fit-content;
}

.tabelaRegistros {
    width: fit-content;
    height: fit-content;
    padding: 3px;
    border-style: solid;
    border-width: 3px;
    border-color: aqua;
}
.position-artifact{
    position: absolute;
    left : 7.5%;
    top: 7.5%;
    background-color: white;
}
.position-dre{
    position: absolute;
    left : 7.5%;
    top: 25%;
    background-color: white;
    
}
.position-avaliar{
    position: absolute;
    left : 80%;
    top: 85%;
}
.positio-tabela{
    position: absolute;
    left: 20%;
    top: 40%;
}
/*.position-text0{
    position: absolute;
    left: 20%;
    top: 40%;
}
.position-text1{
    position: absolute;
    left: 20%;
    top: 45%;
}
.position-text2{
    position: absolute;
    left: 20%;
    top: 50%;
}
.position-text3{
    position: absolute;
    left: 20%;
    top: 55%;
    
}
.position-indicator1{
    position: absolute;
    left: 100%;
    top: 40%;
}

.position-mark1{
    position: absolute;
    left: 70%;
    top: 45%;
}
.position-mark2{
    position: absolute;
    left: 75%;
    top: 50%;
}
.position-mark3{
    position: absolute;
    left: 80%;
    top: 55%;

}*/